<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <span :key="active">{{ active }}</span>
    </div>
    <script src="../source/v.source.js"></script>
    <script>
      let count = 3;
      let arr = [];
      for (let i = 1; i <= count; i++) {
        arr.push(i);
      }
      new Vue({
        data() {
          return {
            list: [...arr],
            active: 'hello',
          };
        },
        methods: {
          badd() {
            count++;
            this.list.unshift(count);
          },
          add() {
            count++;
            this.list.splice(count, 0, count);
          },
          del() {
            count--;
            this.list.splice(count, 1);
          },
          recover() {
            count = 3;
            this.list = [...arr];
            console.log(this.list, arr);
          },
          update() {
            this.list.splice(2, 1);
            this.list.splice(1, 0, 3);
            // console.log(this.$refs['ref3'], this.$refs['ref2'], this.$refs['ref1'], this.$refs['ref0']);
          },
        },
        mounted() {
          setTimeout(() => {
            this.active = 'world';
          }, 3000);
          // console.log(this.$refs['ref3'], this.$refs['ref2'], this.$refs['ref1'], this.$refs['ref0']);
        },
      }).$mount(document.getElementById('app'));

      /*
      <ul>
        <!-- <li v-for="(item, idx) in list" :key="item" :ref="'ref' + item" :data-key="item">{{ item }}</li> -->
        <!-- <li v-for="(item, idx) in list" :ref="'ref' + idx" :data-key="idx"> -->
        <li v-for="(item, idx) in list">
          <label>
            <input type="radio" name="hobby">
            <span>{{ item }}</span>
          </label>
        </li>
      </ul>
      <!-- vue handle click -->
      <button @click="badd">向前增加元素</button>
      <button @click="add">向后增加元素</button>
      <button @click="del">删除元素</button>
      <button @click="recover">恢复初始</button>
      <button @click="update">列配置</button>
       */
    </script>
  </body>
</html>
