<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <!-- <span>hello {{ count }}</span>
      <div v-cloak>{{ message }}</div>
      <async-component></async-component>
      <button @click="isShow = !isShow">show & hide</button> -->
      <!-- <keep-alive> -->
      <!-- <button @click="add">+ {{ count }}</button> -->
      <!-- <test-a v-if="isShow"></test-a> -->
      <!-- <test-a></test-a> -->
      <!-- </keep-alive> -->
      <button v-on:click="show = !show">Toggle</button>
      <!-- <transition name="fade">
        <p v-if="show">hello</p>
      </transition> -->
      <p>i am tag p<table>what???</table></p>
      <ul>
        <li>1</li><li>2</li>
      </ul>
    </div>

    <div id="compiler">
      <input v-model="a" />
      <div>0</div>
      <div v-if="a === 1">1</div>
      <div v-else-if="a === 2">2</div>
      <div v-else>3</div>
      <div>4</div>
      <button @click="a = 2">click me</button>
      <ul>
        <li v-for="item in [1, 2, 3]" :key="item">{{ item }}</li>
      </ul>
    </div>

    <div id="mount-point"></div>
    <style>
      [v-cloak] {
        display: none;
      }
      .fade-enter-active,
      .fade-leave-active {
        transition: opacity 0.5s;
      }
      .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
      }
    </style>
    <script src="../source/v.source.js"></script>
    <script>
      // compier test
      new Vue({
        el: '#compiler',
        data() {
          return {
            a: 1,
          };
        },
      });
      // loading
      // 异步组件
      // Vue.component('async-component', function (resolve, reject) {
      //   setTimeout(() => {
      //     resolve({
      //       template: '<div>I am an async component!</div>',
      //     });
      //   }, 1000);
      // });
      /* Vue.component('async-component', function (res, rej) {
        return {
          delay: 0,
          component: new Promise((resolve, reject) => {
            setTimeout(() => {
              res({
                template: '<div>I am an async component!</div>',
              });
            }, 3000);
          }),
          loading: Vue.component('loading', {
            template: '<div>loading...</div>',
          }),
        };
      });

      Vue.component('test-a', {
        template: '<button @click="add">+ {{ count }}</button>',
        data() {
          return {
            count: 0,
          };
        },
        methods: {
          add() {
            this.count++;
          },
        },
      }); */

      // let vm = new Vue({
      //   el: '#app',
      //   data() {
      //     return {
      //       count: 1,
      //       isShow: true,
      //       show: false,
      //       message: 'v-cloak',
      //     };
      //   },
      //   methods: {
      //     add() {
      //       this.count++;
      //     },
      //   },
      // });
      // console.log(vm);

      // 创建构造器
      /* var Profile = Vue.extend({
        template: '<p>{{`firstName` + firstName }} {{lastName}} aka {{alias}}<button @click="add">+ {{ count }}</button></p>',
        data: function () {
          return {
            firstName: 'Walter',
            lastName: 'White',
            alias: 'Heisenberg',
            count: 0,
          };
        },
        watch: {
          count() {
            console.log('count has changed');
          },
        },
        methods: {
          add() {
            this.count++;
          },
        },
        props: {
          a: {
            type: [String, Number],
            default: 1,
          }
        }
      });

      // 创建 Profile 实例，并挂载到一个元素上。
      let evm = new Profile().$mount('#mount-point');
      console.log(evm); */
    </script>
  </body>
</html>
