{
    "extends": ["eslint:recommended"],
    "parserOptions": {
        "ecmaFeatures": {},
        "ecmaVersion": 2015
    },
    "rules": {
        "no-unused-vars": "warn",
        "comma-dangle": "off",
        "no-trailing-spaces": "warn",
        "no-constant-condition": "warn",
        "no-console": "warn",
        "no-self-assign": "warn"
    },
    "plugins": [],
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "ignorePatterns": ["html/*.js", "src/source/*.js", "js/*.js", "**/test/*.js"]
}